

body {
  background-color: #fff;
}
.navbar{
     position: sticky;
  top: 0;
  z-index: 1000;
   align-items: center;
   padding:0px;

  
}
.logo {
  display: flex;
  
 
}

.logo img {
  height: 70px;   /* Adjust height as needed */
  width: auto;    /* Maintain aspect ratio */
  object-fit: contain;
}
.logo h1{
  font-weight: 600;
  padding-top: 15px;

}


.navbar1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 50px;
  background-color: white;
     width: 100%;
  /*border-bottom: 2px solid #f0f0f0;*/
}



.search-box {
  display: flex;
  align-items: center;
  border: 2px solid #ffe680;
  border-radius: 10px;
  overflow: hidden;
  flex: 1;
  margin: 0 30px;
  max-width: 600px;
}

.search-box input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-box button {
  background-color: #ffe680;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.nav-links {
  width: 100%;                      
  display: flex;
  justify-content: center;        
  align-items: center;             
  list-style: none;
  padding: 10px 0;               
  margin: 0;
  background-color: #f8f9fa;       
  border-bottom: 2px solid black;
}
  .nav-links li a {
text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px 20px;

}

.icons {
  display: flex;
  gap: 15px;
}

.icons i {
  font-size: 18px;
  padding: 8px;
  border: 2px solid #ffe680;
  border-radius: 8px;
  cursor: pointer;
}
i:hover{
  background-color: #ffe680;
}
